AMP-HTML and MicroFormats like Hcard (amp-img issue)

Hello,

According to the spec from AMP-HTML they say they fully support MicroFormats v2.

I have an issue trying to Validate my Hcard on my AMP-HTML webpages. Below is a screenshot of the problem using Google's Structured Data Testing Tool:

![screenshot](https://user-images.githubusercontent.com/17784082/43524258-ba1b32aa-9596-11e8-9273-0a96f9a00101.png)

The issue is that I want to add the following code:

```
<img class="logo" src="https://www.example.com/logo.jpg alt="example" width="600" height="60">
<img class="photo" src="https://www.example.com/logo.jpg alt="example" width="1200" height="675">
```

(The above code would be set to Google's Structured Data Spec)

The problem is that in AMP-HTML we use `amp-img` and not `img`. This is stopping getting the markup validated.

So I would like to know the best solution to make this work in AMP-HTML thanks.

Would there be a way around this like using a `<meta>` tag but then the amp validator whitelist would need to be updated etc.

There are two languages here: JSON-LD and AMP.
For JSON-LD, the valid `@type` is ImageObject and the `url` is the source file
For AMP, the term is `<amp-img>` and the `src` is the `url` from JSON-LD
You have to code the semantics of your page using the terms specific to each  language.
That means you have "repeat" a concept according to the terms of the specific language.


@jaygray0919 

> There are two languages here: JSON-LD and AMP.

No, there are Mircroformats v2 and AMP here.

I think it can't be added to amp-html as the spec says the following:

> photo and logo:
> See section 3.1.4 of RFC 2426. Typically used with an <img> tag. Use the 'src' attribute for URI values. Use the 'data:' URI scheme for binary values.

Therefore I think the documentation should be updated to reflect that.

@jaygray0919 The trouble is the Microformats is a HTML markup and JSON-LD is a JSON markup doing that will produce double the output - I already tested it various validators. Don't worry I just removed the Microformats I got lots of schema.org markup already. I just think where it says AMP can use all Microformats in their doc's is not true. 

Nevermind thanks for your time!